# ignore certain terraform files
**.tfvars
infrastructure/.terraform.lock.hcl
**.tfstate
**.tfstate.backup

# any .env files
#**.env

# log files
**logs

# local dev
**data

**ducklake_queries.sql
**ducklake_dbeaver_jdbc.sql